*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button{
    cursor: pointer;
}
.flex_between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex{
    display: flex;
}
.container{
    width: 90%;
    margin: auto;
}
